 .list {
   background: #a5a5a5;
   width: 70%;
   height: 60vh;
   opacity: 0.9;
   border: 1px solid black;
 }

 .nav {
   width: 300px;

   div {
     color: blue;
     cursor: pointer;
   }

   div:hover {
     text-decoration: underline;
   }
 }
